@model Tool_N_GOOD.Models.Tool

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tool</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ToolId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Measurement" class="control-label"></label>
                <input asp-for="Measurement" class="form-control" />
                <span asp-validation-for="Measurement" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Serviceable" /> @Html.DisplayNameFor(model => model.Serviceable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="BrandTypeId" class="control-label"></label>
                <select asp-for="BrandTypeId" class="form-control" asp-items="ViewBag.BrandTypeId"></select>
                <span asp-validation-for="BrandTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToolTypeId" class="control-label"></label>
                <select asp-for="ToolTypeId" class="form-control" asp-items="ViewBag.ToolTypeId"></select>
                <span asp-validation-for="ToolTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeasurementTypeId" class="control-label"></label>
                <select asp-for="MeasurementTypeId" class="form-control" asp-items="ViewBag.MeasurementTypeId"></select>
                <span asp-validation-for="MeasurementTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
