@model Tool_N_GOOD.Models.UsageHistory

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UsageHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="TaskFor" class="control-label"></label>
                <input asp-for="TaskFor" class="form-control" />
                <span asp-validation-for="TaskFor" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Inspection" /> @Html.DisplayNameFor(model => model.Inspection)
                </label>
            </div>
           
            <div class="form-group">
                <label asp-for="ExpectedReturn" class="control-label"></label>
                <input asp-for="ExpectedReturn" class="form-control" />
                <span asp-validation-for="ExpectedReturn" class="text-danger"></span>
            </div>
           
           
          
            <div class="form-group">
           
                <input type="submit" value="Create" class="btn btn-primary" />
               
            </div>
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
