@model Tool_N_GOOD.Models.UsageHistory

@{
    ViewData["Title"] = "Edit";
}



<h4>Returning Tool</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UsageHistoryId" />
            <input type="hidden" asp-for="ToolId" />
            <div class="form-group">
                <label asp-for="TaskFor" class="control-label"></label>
                <input asp-for="TaskFor" class="form-control" />
                <input type="hidden" asp-for="Inspection" class="form-group form-check">
                <input type="hidden" asp-for="Serviceable" class="form-group form-check">
                <span asp-validation-for="TaskFor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckoutTime" class="control-label"></label>
                <input asp-for="CheckoutTime" class="form-control" />
                <span asp-validation-for="CheckoutTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpectedReturn" class="control-label"></label>
                <input asp-for="ExpectedReturn" class="form-control" />
                <span asp-validation-for="ExpectedReturn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PromiseReturn" class="control-label"></label>
                <input asp-for="PromiseReturn" class="form-control" />
                <span asp-validation-for="PromiseReturn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
